<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604780627932-tdeigg268ngodbee1ercp4nfs1ujt29s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604780627932-tdeigg268ngodbee1ercp4nfs1ujt29s</string>
	<key>API_KEY</key>
	<string>AIzaSyB_9xr_mcUZaSwvpoAOWJheYd7GBhVCBho</string>
	<key>GCM_SENDER_ID</key>
	<string>604780627932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rcs.PalavraViva</string>
	<key>PROJECT_ID</key>
	<string>palavra-viva-9434c</string>
	<key>STORAGE_BUCKET</key>
	<string>palavra-viva-9434c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604780627932:ios:38a2253a9f2fd45b28b119</string>
	<key>DATABASE_URL</key>
	<string>https://palavra-viva-9434c-default-rtdb.firebaseio.com</string>
</dict>
</plist>